.form {
    background-color: #e5e5f7;
    opacity: 0.9;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 12px), repeating-linear-gradient(#83d9e855, #83d9e8);
    width: 800px;
    border-radius: 60px;
   
}